<h1 style="text-align:center;color:{{settings.accent-one}}">Ximena Plus</h1>
<h6 style="text-align:center;color:{{settings.accent-one}}">Comfortable and Beautiful clothes for the plus sized woman.</h6>