<div class="container">
    <div class="row col-12"><h1>{{ collection.title }}</h1></div>
    <div class="row">
        <div class="col-7">
            <img style="width:40vw" src="{{ collection.featured_image | image_url }}" />
        </div>
        <div class="col-4"></div>
    </div>
</div>