<div class="container row">
    {% for item in product.images %}
    <div class="col-3 card">
                <div class="card-body">
                    <img src="{{item | image_url}}" alt="product image" class="img-thumbnail">
                    {% comment %} <div
                        style="width:280px;height:280px;
                        background-image: url({{item | image_url}});
                        background-size:contain;background-repeat:no-repeat">
                    </div> {% endcomment %}
                </div>
        </div>
    {% endfor %}

</div>

{% schema %}
{
    "name": "Slideshow",
    "tag": "section",
    "class": "slideshow",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header"
      },
      {
        "type": "select",
        "id": "vertical_alignment",
        "label": "Vertical alignment",
        "options": [
          {
            "value": "top",
            "label": "Top"
          },
          {
            "value": "middle",
            "label": "Middle"
          },
          {
            "value": "bottom",
            "label": "Bottom"
          }
        ],
        "default": "middle"
      }
    ]
  }
{% endschema %}