<style>
    .image-anchor{
        height:100vh;
        width:100%;
        background-image: url({{ product.featured_image | image_url }});
        background-size:cover
    }
</style>
<div class="container">
    {% section 'product-main' %}
    {% section 'product-images' %}
    
</div>